body {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  background-color: #fffff0;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

img {
  max-width: 100%;
}

select {
  width: 11em;
  margin: .5em;
  padding: .5em;
  border-radius: 4px;
  color: black;
  background-color: #336699;
  /*-webkit-appearance: button;*/
}

select:before {
  content: '\e034'; /* '' */
}

.template {
  display: none;
}

@media only screen and (max-width: 750px) {
  select {
    width: 85%;
  }
}
