header {
  padding: 1.2rem 0rem 1.2rem 0rem;
  font-family: 'Numans', sans-serif;
  font-size: 2rem;
  color: black;
}

article {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: #f1f2f2;
}
