select {
  color: black;
  background-color: #53a91a;
  -webkit-appearance: button;
}

nav {
  display: none;
}

#hamburger {
  float: right;
}

@media screen and (min-width: 968px) {

  nav ul li {
    float: right;
    margin: 0 0 0 3rem;
  }

  nav {
    display: block;
    float: right;
  }

  #hamburger {
    display: none;
  }
}
