@import url("../vendor/styles/normalize.css");
/*@import url("../vendor/styles/skeleton.css");*/

body {
  display: flex;
  flex-direction: column;
  color: #333333;
  background: url(../img/tweed.png);
  background-color: #555555;
  font-size: 1.5em;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  margin: 5%;
  border-radius: .4em;
  background-color: #f2f2f2;
}
