@import url("../vendor/styles/normalize.css");

body {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  background-color: #fffff0;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 .5em 0 .5em;
  /*background: url(../img/simple_dashed.png);*/
  background-color: #336699;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 0 .5em 0 .5em;
}

nav span {
  margin: 0 .5em 0 .5em;
}

article {
  padding: 5%;
}

.template {
  display: none;
}
